{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        ring/ring-core {:mvn/version "1.13.0"}
        ring/ring-ssl {:mvn/version "0.4.0"}
        ring/ring-headers {:mvn/version "0.4.0"}
        ring/ring-anti-forgery {:mvn/version "1.4.0"}
        org.ring-clojure/ring-websocket-middleware {:mvn/version "0.2.1"}}}
